# dependencies
node_modules/

# build outputs
.next/
out/
dist/
build/

# turborepo
.turbo/

# testing
coverage/

# environment variables
.env
.env.*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# misc
.DS_Store
*.pem

# typescript
*.tsbuildinfo